@charset "UTF-8";

#wrap{
	width:1200px;
	
	height:800px;
	margin:auto;
}

.header{
	height:100px;
}
.header>.logo{
	height: 50px;
}

.header>.main-menu{
	height:50px;
}

.contents{
	
	height:500px;
	
	
	
}

.contents >. contents2{
	
	
	
	
}

.footer{
	height:50px;
}