@charset "UTF-8";

#wrap{
	width:1200px;
	
	
	margin:auto;
}

.header{
	height:150px;
	
}
.header>.logo{
	height: 75px;
}

.header>.main-menu{
	height:75px;
}
/*
div:hover{
	background-color:black;
}*/


.footer{
	height:50px;
}